h1 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
h2 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
h3 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
h6 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
p {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}

a {
   font-family: 'Lucida Console', 'Courier New', monospace; 
    border: rgb(89, 28, 109) solid 5px;
    margin-left: 30px;
    margin-right: 30px;
    text-align:right;
}
img {
  display: block;
  margin: auto;
}

#linklist
{
    text-align:center;
}
.box {
  width: 90%;
  background-color: #4da3ff;
  border-width: 5px;
  border-color: #2f67a2;
  border-style: solid;
  color: white;

  margin: 0 auto; 

  font-family: 'Lucida Console', 'Courier New', monospace; 

  text-align: center;

  padding: 20px 0;
}
.boxwarn {
  width: 90%;
  background-color: #ffa94d;
  border-width: 5px;
  border-color: #a2702f;
  border-style: solid;
  color: rgb(0, 0, 0);

  margin: 0 auto; 

  font-family: 'Lucida Console', 'Courier New', monospace; 

  text-align: center;

  padding: 20px 0;
}
.icon {
  width: 32px;
  height: 32px;
}
