h1 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
h3 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
h6 {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
p {
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}
a {
    border: rgb(89, 28, 109) solid 5px;
    margin-left: 30px;
    margin-right: 30px;
    text-align:right;
}
img {
  display: block;
  margin: auto;
}
#linklist
{
    text-align:center;
}